<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%- data_room.title %></title>
        <link rel="stylesheet" href="/css/chat-new.css" />
        <link rel="stylesheet" href="/css/toast.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <script
            src="https://kit.fontawesome.com/8bf767fd4b.js"
            crossorigin="anonymous"
        ></script>

        <link rel="icon" href="/images/cupid.png" />

        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <div id="push-up-image">
            <img id="image-push-up" src="" alt="img" />
            <i id="close-push-up" class="fas fa-times"></i>
        </div>

        <div class="layout">
            <%- include("./infor-user-room.ejs") %>

            <div class="conversation">
                <div id="notification"></div>
                <div class="conversation-information">
                    <div class="name-conversation">
                        <img src="<%- data_room.avatar %>" alt="image" />

                        <h3 id="title-room-<%- data_room._id %>">
                            <%- data_room.title %>
                        </h3>
                    </div>

                    <div class="conversation-option">
                        <img
                            src="https://res.cloudinary.com/soicondibui/image/upload/v1642672221/sosichat/icon/i_m7xyhw.png"
                            alt="img"
                            draggable="false"
                            id="dropdownMenuButton"
                        />
                        <div class="list-option" id="list-option">
                            <div class="option-content">
                                <h6>Đổi tên nhóm :</h6>
                                <div class="option-layout">
                                    <input
                                        id="new-title-room"
                                        type="text"
                                        placeholder="VD : Nhóm chat vui vẻ"
                                    />
                                    <i
                                        class="fa-solid fa-wrench"
                                        onclick="changeTitleRoom()"
                                    ></i>
                                </div>
                            </div>

                            <% if(data_room.type == 'group') { %>

                            <div class="option-content">
                                <h6>Link tham gia nhóm :</h6>
                                <div class="option-layout">
                                    <span id="linkJoinRoom"></span>
                                    <i
                                        class="far fa-copy"
                                        onclick="copyTextToClipboard()"
                                    ></i>
                                </div>
                            </div>
                            <div class="option-content">
                                <h6>
                                    Mời thêm thành viên (bằng địa chỉ email):
                                </h6>
                                <div class="option-layout">
                                    <input
                                        id="add-members"
                                        type="text"
                                        placeholder="VD : sositech@gmail.com"
                                    />
                                    <i
                                        class="fas fa-user-plus"
                                        onclick="addMembers()"
                                    ></i>
                                </div>
                            </div>

                            <% } %>

                            <div class="option-content" style="border: none">
                                <a href="/out/<%- data_room._id %>"
                                    >Rời khỏi nhóm</a
                                >
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    class="box-message"
                    style="padding-bottom: 10px"
                    id="box-message"
                    onscroll="scrollY()"
                >
                    <% for(let i = 0;i< message.length;i++) {%> <% if (user._id
                    == message[i].user_id) { %>

                    <div class="message my-message">
                        <div>
                            <div class="message-user">
                                <img
                                    src="<%- message[i].avatar %>"
                                    alt="avatar"
                                />
                                <p><%- message[i].username %></p>
                            </div>

                            <div class="message-content">
                                <div
                                    class="content <%-message[i].type %>-message"
                                >
                                    <% if (message[i].type == 'sticker') { %>
                                    <img
                                        src="/gif/<%- message[i].content %>.gif"
                                        alt="<%- message[i].type %>"
                                        draggable="false"
                                        onmouseover="overSticker(this)"
                                    />
                                    <% } else if(message[i].type == 'image') {%>
                                    <img
                                        src="<%- message[i].content %>"
                                        alt="<%- message[i].type %>"
                                        onclick="pushUpImage('<%- message[i].content %>')"
                                    />
                                    <% } else { %>
                                    <span><%- message[i].content %></span>
                                    <% } %>
                                </div>
                                <div class="time-send">
                                    <span><%- message[i].time %></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% } else { %>
                    <div class="message">
                        <div>
                            <div class="message-user">
                                <img
                                    src="<%- message[i].avatar %>"
                                    alt="avatar"
                                />
                                <p><%- message[i].username %></p>
                            </div>

                            <div class="message-content">
                                <div
                                    class="content <%- message[i].type%>-message"
                                >
                                    <% if (message[i].type == 'sticker') { %>
                                    <img
                                        src="/gif/<%- message[i].content %>.gif"
                                        alt="<%- message[i].type %>"
                                        draggable="false"
                                        onmouseover="overSticker(this)"
                                    />
                                    <% } else if(message[i].type == 'image') {%>
                                    <img
                                        src="<%- message[i].content %>"
                                        alt="<%- message[i].type %>"
                                        onclick="pushUpImage('<%- message[i].content %>')"
                                    />
                                    <% } else { %>
                                    <span><%- message[i].content %></span>
                                    <% } %>
                                </div>
                                <div class="time-send">
                                    <span><%- message[i].time %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %> <% } %>

                    <div id="typing-animation" class="typing-animation">
                        <span>Ai đó đang nhập</span>
                        <div class="loading">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>

                <div class="show-list-sticker" id="showListSticker">
                    <div class="row row-sticker">
                        <% for(let i=1;i<= 47;i++) { %>
                        <div class="col-sm-3 sticker">
                            <img
                                src="/gif/<%- i %>.gif"
                                alt="sticker"
                                onclick="sendGif('<%- i %>')"
                                draggable="false"
                                onmouseover="overSticker(this)"
                            />
                        </div>
                        <% } %>
                    </div>
                </div>

                <form
                    id="form-image"
                    enctype="multipart/form-data"
                    method="post"
                >
                    <input
                        style="display: none"
                        name="image"
                        type="file"
                        id="image-message"
                    />
                </form>

                <div
                    style="
                        padding: 5px 10px 10px 10px;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                    "
                >
                    <div class="chatbar">
                        <i id="btn-sticker" class="far fa-sticky-note"></i>
                        <i id="btn-image" class="far fa-image"></i>
                    </div>

                    <form id="chat-form" class="box-send-message">
                        <!-- <div class="box-send-message"> -->
                        <input
                            class="input-message"
                            id="msg"
                            type="text"
                            placeholder="Enter Message"
                            oninput="eventTyping()"
                            autocomplete="off"
                            autofocus
                        />

                        <button
                            class="fa fa-paper-plane"
                            style="border: none; cursor: pointer"
                        ></button>
                        <!-- </div> -->
                    </form>
                </div>
            </div>
        </div>

        <form name="form-redirect" method="GET"></form>

        <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"
        ></script>

        <script>
            //infor user
            var user_id = '<%- user._id%>';
            var user_name = '<%- user.username %>';

            // list id room
            var list_room_id = '<%- list_id_room %>';

            //socket
            let socket = io();

            function redirectRoom(id) {
                window.location.href = id;
            }

            ///// get url
            var url = window.location.pathname.split('/');
            var room_id = url[url.length - 1];
        </script>

        <script src="/js/toast.js"></script>
        <script src="/js/chat-script.js"></script>
        <script src="/js/createRoom.js"></script>
        <script src="/js/infor-user-room.js"></script>
    </body>
</html>
