<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%- title %></title>
        <link rel="stylesheet" href="/css/chat_room.css" />

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/home.js"></script>

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"
        ></script>
    </head>
    <body class="background">
        <div>
            <%- include('infor-user-room') %>

            <div class="layout-message">
                <div class="infor-person">
                    <img
                        src="https://i.pinimg.com/736x/23/e6/02/23e6029c5285471338418f1556811ce9.jpg"
                        class="image-user"
                    />

                    <h5><%- title %></h5>
                </div>

                <div class="message">
                    <% for(let i = 0;i< message.length;i++) {%> <% if (user._id
                    == message[i].user_id) { %>
                    <div class="form-message format-form-right">
                        <div class="content-message">
                            <small><%- message[i].user_name %></small>
                            <p><%- message[i].content %></p>
                        </div>
                    </div>
                    <% } else { %>
                    <div class="form-message">
                        <div class="content-message">
                            <small><%- message[i].user_name %></small>
                            <p><%- message[i].content %></p>
                        </div>
                    </div>
                    <% } %> <% } %>
                </div>

                <div class="send-message">
                    <div class="form-input-message">
                        <form id="chat-form">
                            <input
                                id="msg"
                                type="text"
                                placeholder="Enter Message"
                                required
                                autocomplete="off"
                                autofocus
                            />
                            <button>SEND</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <form name="form-redirect" method="GET"></form>

        <script>
            var chat_form = document.getElementById('chat-form');
            var form_message = document.querySelector('.message');
            form_message.scrollTop = form_message.scrollHeight;

            //infor user
            var user_id = '<%- user._id%>';
            var user_name = '<%- user.user_name %>';

            var socket = io();
            var url = window.location.pathname.split('/');
            var room_id = url[url.length - 1];
            // console.log(room_id);

            socket.emit('joinRoom', room_id);

            chat_form.addEventListener('submit', (e) => {
                e.preventDefault();

                //get message
                let msg = e.target.elements.msg.value;
                msg = msg.trim();

                if (!msg) return false;

                //emit message to server
                socket.emit('messageChatRoom', {
                    room_id,
                    user_id,
                    user_name,
                    msg,
                });

                e.target.elements.msg.value = '';
            });

            socket.on('message', ({ user_id_s, user_name_s, msg_s }) => {
                // console.log(user_name_s);

                const div = document.createElement('div');
                div.classList.add('form-message');
                if (user_id == user_id_s)
                    div.classList.add('format-form-right');

                const div_content = document.createElement('div');
                div_content.classList.add('content-message');

                const small = document.createElement('small');
                small.innerText = user_name_s;
                const p = document.createElement('p');
                p.innerText = msg_s;

                div_content.appendChild(small);
                div_content.appendChild(p);
                div.appendChild(div_content);

                document.querySelector('.message').appendChild(div);

                form_message.scrollTop = form_message.scrollHeight;
            });
        </script>

        <script>
            const form_redirect = document.forms['form-redirect'];

            $('#new-stranger-room').click(() => {
                socket.emit('new-stranger-room', '<%- user._id %>');
                alert(
                    'Đang tìm đối tượng thích hợp cho bạn vui lòng đợi trong giây lát'
                );

                // listen event successfull pairing
                socket.on('successfull-pairing', (room_id) => {
                    form_redirect.action = '/c/' + room_id;
                    form_redirect.submit();
                });
            });

            $('#new-group').click(() => {
                socket.emit('new-group-chat', '<%- user._id %>');
                alert(
                    `Tạo phòng trò chuyện thành công bấm 'ok' để chuyển hướng`
                );

                socket.on('redirect-group-chat', (room_id) => {
                    form_redirect.action = '/c/' + room_id;
                    form_redirect.submit();
                });
            });
        </script>
    </body>
</html>
